@import "bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #7303C0;
  --primary-light: #e4caf5;
  --primary-dark: #100219;
  --secondary-dark: #573F3F;
  --text-color: #000000;
  --text-light: #919191;
  --background-color: white;
  --background-light: #f9f9f9;
}
/* Dark Mode */
[data-theme="dark"] {
  --background-color: #1a1a1a;
  --text-color: #ececec;
  --primary-color: #8b08e2;
  --card-bg: #2b2b2b;
  --background-light: #2e2e2e;
  --text-light: #919191;
  --text-muted: #b5b5b5 !important;
  --secondary-dark: #573F3F;
  --primary-light: #7403c02a;
}
.text-muted {
  color: var(--text-light) !important;
}

nav .active {
  border-left: 2px solid var(--primary-color);
  color: var(--primary-color);
  font-weight: 600;

}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 2;
  font-size: 13px;
}

.header {
  background-color: var(--background-light);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--primary-color);
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.searchhover:hover {
  background-color: var(--background-light);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

footer .form-control {
  font-size: small;
  line-height: 1.5;
  color: var(--primary-dark);
}

footer textarea.form-control {
  padding: .9rem;
}



.carousel-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  background: var(--primary-color);
  border: none;
  cursor: pointer;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  padding: 0px;
  border-radius: 50%;
  aspect-ratio: 1/1 !important;
  color: white;
}

.carousel-prev {
  left: -15px;
}

.carousel-next {
  right: -15px;
}

.link:hover {
  color: var(--primary-color) !important;
}

.productItem:hover {
  border: 1px solid var(--primary-color) !important;
  transition: 0.3s ease-in-out;
}

.adminStoreItemDetails th {
  border-right: 1px solid gainsboro;
}

.singleLineClamp {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.doubleLineClamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hoverBorder:hover {
  border: 1px solid var(--primary-color) !important;
}



.homeTitle {
  font-size: 4rem;

  u {
    background: linear-gradient(to right, blue, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    letter-spacing: 2px;
    animation: shine 3s linear infinite;
  }

}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

@media (max-width: 768px) {
  .homeTitle {
    font-size: 2.2rem;
  }

  .carousel-prev {
    left: 10px;
  }

  .carousel-next {
    right: 10px;
  }
}
input::placeholder,
textarea::placeholder {
  color: var(--text-light) !important;
  opacity: 1 !important;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: var(--text-light) !important;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: var(--text-light) !important;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: var(--text-light) !important;
}

.table th,
.table td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 250px;
}
.table-responsive-custom {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
/* Force legend text color to follow your theme */
.MuiChartsLegend-root,
.MuiChartsLegend-label {
  color: var(--text-color) !important;
  fill: var(--text-color) !important;
}
